.post {
    display: flex;
    margin: 10px 150px;
    border-radius: 10px;
    background-color: white;
    -webkit-box-shadow: 1px 2px 4px 2px #E4E6E9; 
    box-shadow: 1px 2px 4px 2px #E4E6E9;
    min-height: 100px;
    padding: 10px 0px;
}

.post__userLink {
    text-decoration: none;
    color: inherit;
}

.post__top {
    display: flex;
    margin: 0 15px;
}

.post__info {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.post__userName {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 14px;
}

.post__userName:hover {
    text-decoration: underline;
    transition-delay: 50ms;
}

.post__time {
    font-size: 12px;
    color: rgb(95, 95, 95);
    cursor: pointer;
}

.post__time:hover {
    text-decoration: underline;
    transition-delay: 50ms;
}

.post__content {
    margin: 10px 0px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.post__text {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.post__img {
    margin-top: 5px;
    width: 100%;
    object-fit: contain;
}

.post__buttons {
    display: flex;
    align-items: center;
}

.post__buttonsItem {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin: 0 2px;
}

.post__buttonsItem:hover {
    background-color: rgb(226, 226, 226);
    transition-delay: 50ms;
}

.post__icon {
    margin: 0 10px;
    color: #60666D;
}

.post__icon.liked {
    color: #1877f2;
}

.post__buttonsText {
    color: #60666D;
}

.post__buttonsText.liked{
    color: #1877f2;
}

.post__numberLikesComments {
    display: flex;
    font-size: 14px;
    color: #60666D;
    justify-content: space-between;
    margin: 10px 15px;
}

.post__numbersLikes {
    display: flex;
    align-items: center;
    
}

.post__numbersLikes:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post__numberComments:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post__numbersLikeIcon {
    height: 15px;
    margin-right: 5px;
}